@charset 'utf8';

/* Header */
/* ====== */
h1 {
  line-height   : 60px;
  margin-bottom : 0;
}

/* Generic */
/* ======= */
#splash img {
  border: 1px solid #CCCCCC;
}
#splash blockquote {
  margin: 20px;
}

[name="filters"] {
  position: relative;
}
.filters {
  position : absolute;
  top      : 30px;
  z-index  : 100;
}

.places:nth-child(odd) .place, .path:nth-child(odd) {
  background-color: #E2F2FE;
}
.places:nth-child(even) .place, .path:nth-child(even) {
  background-color: #FFF8CC;
}
  .path > div {
    overflow   : hidden;
  }

.select {
  text-align : center;
}

#map {
  height        : 100%;
  margin-bottom : 20px;
  min-height    : 500px;
  width         : 100%;
}

.marker {
  text-align: center;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
/** http://stackoverflow.com/questions/16708324/google-maps-infowindow-close-button-hidden */
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}